<header class="site-header" role="banner">
  <div class="banner-inner">
    <div class="wrapper banner-inner-title">
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}
      <img src="/images/me.jpg" class="banner-pic"></img>
      <a class="banner-site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <p style="font-size: 17px;">
        <i>“For me, it is far better to grasp the Universe as it really is than to persist in delusion, however satisfying and reassuring.”</i></p>
      <p><b><i>Carl Sagan</i></b></p>
    </div>
  </div>
</header>
