<header class="site-header" style="height:105px;">
  <div class="banner-inner" style="height: 105px; align-items: center; display: flex; justify-content: center;">
    <div class="wrapper banner-inner-title" style="height: 70px; width: 840px; display: flex;">
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}
      
      <img src="/images/me.jpg" style="width: 70px; height: 70px; border-radius: 4px;" class="banner-pic"></img>
      <div style="margin-left: 15px; align-self: flex-end; font-size: 15px; height: 55px;">
        <a class="banner-site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> 
        <span style="color: #666;">| Freelance software developer</span>
        <p style="color: white;">Welcome to my professional abode on the internet.</p>
      </div>
    </div>
  </div>
</header>
